.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
}

.container-cards{
    display: flex;
    flex-direction: column;
    width: 85vw;
    gap: 20px;
}

.btn-cadastrar{
    background-color: #BAFF39;
    font-size: 22px;
    padding: 20px;
    margin: 20px 0;
    border-radius: 12px;
}

