.container-header{
    display: flex;
    background-color: #6E6E6E;
    height: 10vh;
    justify-content: space-between;
    margin-bottom: 20px;
}

.container-img{
    display: flex;
    max-width: 35vw;
    align-items: center;
    margin-left: 1.5%;
}

.container-img img{
    max-height: 90%;
    object-fit: contain;
}

.container-nav{
    display: flex;
    justify-content: center;
    width: 60vw;
}

.container-nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60vw;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
