@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.container-form{
    @apply w-[70vw] md:w-[50vw] lg:w-[30vw];
}